# Dashboard Covid-19 em 2023

Importação das biliotecas

In [1]:
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px

###### Leitura do Dataset Covid-19

In [5]:
df = pd.read_csv('covidbr2023.csv',delimiter=';', skiprows=0, low_memory=False)

In [6]:
df

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-01,1,210147125.0,36331281,0,693853,0,35006153.0,631275.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-02,1,210147125.0,36362366,31085,693981,128,35081933.0,586452.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-03,1,210147125.0,36390423,28057,694192,211,35147500.0,548731.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-04,1,210147125.0,36423138,32715,694411,219,35196324.0,532403.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-05,1,210147125.0,36450812,27674,694569,158,35225196.0,531047.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786655,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2023-05-16,20,3015268.0,906712,0,11858,0,NaN,NaN,1.0
786656,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2023-05-17,20,3015268.0,906712,0,11858,0,NaN,NaN,1.0
786657,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2023-05-18,20,3015268.0,906712,0,11858,0,NaN,NaN,1.0
786658,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2023-05-19,20,3015268.0,906712,0,11858,0,NaN,NaN,1.0
786659,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2023-05-20,20,3015268.0,907556,844,11859,1,NaN,NaN,1.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786660 entries, 0 to 786659
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   regiao                  786660 non-null  object
 1   estado                  786520 non-null  object
 2   municipio               779800 non-null  object
 3   coduf                   786660 non-null  int64
 4   codmun                  782740 non-null  float64
 5   codRegiaoSaude          779800 non-null  float64
 6   nomeRegiaoSaude         779800 non-null  object
 7   data                    786660 non-null  object
 8   semanaEpi               786660 non-null  int64
 9   populacaoTCU2019        783720 non-null  float64
 10  casosAcumulado          786660 non-null  int64
 11  casosNovos              786660 non-null  int64
 12  obitosAcumulado         786660 non-null  int64
 13  obitosNovos             786660 non-null  int64
 14  Recuperadosnovos        140 non-null     float64
 15  emAcompanhamentoNovos   140 non-null     float64
 16  interior/metropolitana  779800 non-null  float64
dtypes: float64(6), int64(6), object(5)
memory usage: 102.0+ MB

In [8]:
df.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana'],
      dtype='object')

In [10]:
df1 = df.groupby(['regiao', 'estado'])['casosNovos'].sum().reset_index()

In [11]:
df1

          regiao estado  casosNovos
0   Centro-Oeste     DF       38986
1   Centro-Oeste     GO      216254
2   Centro-Oeste     MS       38754
3   Centro-Oeste     MT       49432
4       Nordeste     AL        8408
5       Nordeste     BA       63696
6       Nordeste     CE       65610
7       Nordeste     MA       14782
8       Nordeste     PB       19412
9       Nordeste     PE      108980
10      Nordeste     PI       33942
11      Nordeste     RN       13898
12      Nordeste     SE        7290
13         Norte     AC        9596
14         Norte     AM       23576
15         Norte     AP        7054
16         Norte     PA       38128
17         Norte     RO       27356
18         Norte     RR        7380
19         Norte     TO       19212
20       Sudeste     ES       49984
21       Sudeste     MG      260594
22       Sudeste     RJ      208980
23       Sudeste     SP      588104
24           Sul     PR      158116
25           Sul     RS      287848
26           Sul     SC      130122